:root{
    --bg-color:#1e1e2a;
    --main-color:#1f65b9;
    --secondary-color:#e0eaec;
    --text-color:#ffffff;
    --description-color:#cfd8dc;
    --card-bg: #262637;
}
*{
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color:var(--text-color);
}
main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
    swiper-container {
      width:350px;
      height: 100%;
      padding:1rem;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      padding:1rem;
      gap:1rem;
      cursor: pointer;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:50%;
      -webkit-border-radius:50%    ;
      -moz-border-radius:50%    ;
      -ms-border-radius:50%    ;
      -o-border-radius:50%    ;
}
    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 100000000;
    }
    .closePreloader{
        opacity: 0;
        pointer-events: none;
        transition: 1s ease-out;
        -webkit-transition: 1s ease-out;
        -moz-transition: 1s ease-out;
        -ms-transition: 1s ease-out;
        -o-transition: 1s ease-out;
    }
    
    .loader{
        width: 150px;
        height: 150px;
        background: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
    }
    .loader::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background: transparent;
        border: 3px solid var(--main-color);
        border-top-color: var(--main-color);
        border-bottom-color: var(--secondary-color);
        z-index: -1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        animation:animationLoader 1s linear infinite ;
        -webkit-animation:animationLoader 1s linear infinite ;
}
    @keyframes animationLoader {
        from{
            transform: rotate(0turn);
            -webkit-transform: rotate(0turn);
            -moz-transform: rotate(0turn);
            -ms-transform: rotate(0turn);
            -o-transform: rotate(0turn);
        }
        to{
            transform: rotate(1turn);
            -webkit-transform: rotate(1turn);
            -moz-transform: rotate(1turn);
            -ms-transform: rotate(1turn);
            -o-transform: rotate(1turn);
}
    }
    body{
        background:var(--bg-color);
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;gap: 2rem;
        width: 100%;
    }
    .logo img{
        border-radius:50%;
    }
    nav{
       display: flex;
       justify-content: space-around;
       gap:2rem;
    }
    #close{
        display:none;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    ul li{
        list-style-type: none;
    }
    ul li a{
        color:var(--text-color);
        font-weight:550;
        font-size: 1.2rem;
        position:relative;
    }
    ul li a::before{
        content:'';
        position:absolute;
        bottom:-.4rem;
        left:0;
        width:0;
        height:3px;
        background:var(--secondary-color);
        transition:.7s;
        -webkit-transition:.7s    ;
        -moz-transition:.7s    ;
        -ms-transition:.7s    ;
        -o-transition:.7s    ;
}
    ul li a:hover::before{
        width:100%;
    }
    .Active{
        position: relative;
    }
    .Active::before{
        content:'';
        position:absolute;
        bottom:-.4rem;
        left:0;
        width:100%;
        height:3px;
        background:var(--secondary-color);
    }
    .btns i{
        color:var(--text-color);
        font-size: 1.4rem;
    }
    .btns{
        display: none;
    }
.contact{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    padding-top: 4rem;
}
.contact h2{
    font-size: clamp(2rem,4vw,2.5rem);
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
}
input{
    padding: .3rem;
}
textarea{
    width: 100%;
    height:150px
}button{
    padding: .5rem;
    background: var(--secondary-color);
    border: none;
    color:var(--bg-color);
    font-weight: 600;
}