:root{
    --bg-color:#1e1e2a;
    --main-color:#1f65b9;
    --secondary-color:#e0eaec;
    --text-color:#ffffff;
    --description-color:#cfd8dc;
    --card-bg: #262637;
}
*{
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color:var(--text-color);
}
main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
    swiper-container {
      width:350px;
      height: 100%;
      padding:1rem;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      padding:1rem;
      gap:1rem;
      cursor: pointer;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:50%;
      -webkit-border-radius:50%    ;
      -moz-border-radius:50%    ;
      -ms-border-radius:50%    ;
      -o-border-radius:50%    ;
}
    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 100000000;
    }
    .closePreloader{
        opacity: 0;
        pointer-events: none;
        transition: 1s ease-out;
        -webkit-transition: 1s ease-out;
        -moz-transition: 1s ease-out;
        -ms-transition: 1s ease-out;
        -o-transition: 1s ease-out;
    }
    
    .loader{
        width: 150px;
        height: 150px;
        background: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
    }
    .loader::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background: transparent;
        border: 3px solid var(--main-color);
        border-top-color: var(--main-color);
        border-bottom-color: var(--secondary-color);
        z-index: -1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        animation:animationLoader 1s linear infinite ;
        -webkit-animation:animationLoader 1s linear infinite ;
}
    @keyframes animationLoader {
        from{
            transform: rotate(0turn);
            -webkit-transform: rotate(0turn);
            -moz-transform: rotate(0turn);
            -ms-transform: rotate(0turn);
            -o-transform: rotate(0turn);
        }
        to{
            transform: rotate(1turn);
            -webkit-transform: rotate(1turn);
            -moz-transform: rotate(1turn);
            -ms-transform: rotate(1turn);
            -o-transform: rotate(1turn);
}
    }
    body{
        background:var(--bg-color);
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;gap: 2rem;
        width: 100%;
    }
    .logo img{
        border-radius:50%;
    }
    nav{
       display: flex;
       justify-content: space-around;
       gap:2rem;
    }
    #close{
        display:none;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    ul li{
        list-style-type: none;
    }
    ul li a{
        color:var(--text-color);
        font-weight:550;
        font-size: 1.2rem;
        position:relative;
    }
    ul li a::before{
        content:'';
        position:absolute;
        bottom:-.4rem;
        left:0;
        width:0;
        height:3px;
        background:var(--secondary-color);
        transition:.7s;
        -webkit-transition:.7s    ;
        -moz-transition:.7s    ;
        -ms-transition:.7s    ;
        -o-transition:.7s    ;
}
    ul li a:hover::before{
        width:100%;
    }
    .Active{
        position: relative;
    }
    .Active::before{
        content:'';
        position:absolute;
        bottom:-.4rem;
        left:0;
        width:100%;
        height:3px;
        background:var(--secondary-color);
    }
    .btns i{
        color:var(--text-color);
        font-size: 1.4rem;
    }
    .btns{
        display: none;
    }
    .presentation{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
        gap:2rem;
    }
    .presentation h2{
        width: 100%;
        position: absolute;
        color:var(--text-color);
        white-space:wrap;
        font-size:clamp(1.4rem,4vw,2rem)
    }
    .presentation p{
        font-size:clamp(1rem,4vw,1.5rem);
    }
    .presentation a{
        background: var(--secondary-color);
        width:100%;
        height:100%;
        padding:1rem;
        color:var(--bg-color);
        font-size:clamp(1rem,3vw,1.5rem);
        font-weight: 600;
        letter-spacing: 3px;
    }
    .presentation a:hover{
        box-shadow: 4px 4px 5px 9px rgba(0,0,0,0.1);
        letter-spacing: 4px;
        transition: .6s ease-in-out;
        -webkit-transition: .6s ease-in-out;
        -moz-transition: .6s ease-in-out;
        -ms-transition: .6s ease-in-out;
        -o-transition: .6s ease-in-out;
}
    video{
        position:relative;
        width:100%;
        height:100%;
    }
    .fidelite_box{
        width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding:1rem ;
        gap:1rem;
        place-items:center;
        text-align:center;
    }
    .box{
        display:flex;
        flex-direction:column;
        gap:1rem;
        background:var(--main-color);
        justify-content:center;
        width:250px;
        height:350px;
        align-items: center;
        padding:.3rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .box i{
        font-size:1.8rem;
    }
    .box p, h2{
        color:var(--description-color)
    }
    .services{
        display:flex;
        justify-content:center;
        flex-direction:column;
        width:100%;
        height:100%;
        align-items: center;
        gap:1rem;
        padding:3rem 0 ;
    }
    .services a{
        background:var(--main-color);
        padding:.5rem;
        border-radius:10px;
        font-weight: 550;
        transition:.5s;
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -ms-transition:.5s;
        -o-transition:.5s;
}
    .services a:hover{
        background:var(--secondary-color);
        color:var(--bg-color);
    }
    .servicebox{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
        place-items:center;
        gap:1.3rem;
        padding:1rem;
    }
    .service{
        width:100%;
        background:var(--card-bg);
        padding:1rem;
        position: relative;
    }
    .service img:nth-child(2){
        width:100%;
        height: 170px;
        background-position: center;
        background-size: cover;
        aspect-ratio: 1/1;
    }
    .service img:nth-child(1){
        position: absolute;
        right:0;
        top:-1rem;
        background:var(--secondary-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items:center;
}
.PourquoiNous{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    gap:2rem;
}
.contentPourquoi{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    place-items: center;
    gap:1rem;
    padding:1rem;
}
.avantages{
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.avantagesP{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.equipe{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2rem;
}
.equipebox{
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding:.3rem 0;
    gap:1rem;
    width:100%;
    background:var(--card-bg);
}
.equipebox img{
    width:40px;
    height:40px;
    clip-path: circle(50% at center  center);
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
}
.imgAvis{
    display:flex;
}
.imgAvis img{
    width:40px;
    height:40px;
}
.imgAvis i{
    color:yellow;
}
footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    gap:1rem;
    text-align: center;
}
footer img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.localite{
    display: flex;
    gap:1rem;
}
.reseaux{
    display: flex;
    gap: 1rem;
}
.reseaux i{
    background: var(--main-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.reseaux i:hover{
    background: var(--secondary-color);
    color: var(--main-color);
}